:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
@keyframes titleTilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 0.5;
  animation: titleTilt 2s ease-in-out infinite; /* Apply tilt animation */
  color:  #534332;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#bearButton {
  background-color: #fadbdf; /* yellow background */
  color: white; /* White text */
  border: 2px solid #fff9c2; /* A solid border with a shade of yellow */
  padding: 10px 20px; /* Custom padding */
  font-size: 1.2em; /* Slightly larger font size */
  border-radius: 100%; /* Apply rounded corners */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease; /* Add transitions for interactions */
}

#bearButton:hover {
  background-color: #f7e274; /* Lighter green on hover */
}

#bearButton:active {
  background-color: #fce46a; /* Darker green on click */
  transform: scale(0.98); /* Scale slightly on click */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff3d3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
